In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as panditasbb

In [2]:
engine = create_engine('mysql+pymysql://germfy:leek5caik2@localhost/publications')
# de aqui para arriba es DB specific

In [3]:
dataFrameSQL = panditasbb.read_sql_query('SELECT * FROM publications.employee', engine)

In [4]:
SQlStatement = """SELECT COUNT(titles.title_id) as Titulos, publishers.pub_name FROM publications.publishers INNER JOIN publications.titles ON publishers.pub_id = titles.pub_id GROUP BY publishers.pub_name;"""
innerJoinDF = panditasbb.read_sql_query(SQlStatement, engine)

In [5]:
SQlStatement = '''SELECT titles.title, titles.type, titles.price, SUM(sales.qty) as unidades FROM publications.titles INNER JOIN publications.sales USING (title_id) GROUP BY titles.title_id;'''
Ventas_por_Titulo_DF = panditasbb.read_sql_query(SQlStatement, engine)

In [9]:
Ventas_por_Titulo_DF.groupby(['type']).agg({'unidades':'sum', 'price':'mean'})

              unidades      price
type
business          90.0  13.730000
mod_cook          50.0  11.490000
popular_comp      80.0  21.475000
psychology       193.0  13.504000
trad_cook         80.0  15.963333

In [10]:
Ventas_por_Titulo_DF.groupby(['type'])['unidades'].sum()

type
business         90.0
mod_cook         50.0
popular_comp     80.0
psychology      193.0
trad_cook        80.0
Name: unidades, dtype: float64

In [12]:
Ventas_por_Titulo_DF.groupby(['type']).agg(['sum', 'mean'])['unidades', 'price']

/Users/german.dominguez/miniconda3/envs/pycharm/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             unidades             price
                  sum       mean    sum       mean
type
business         90.0  22.500000  54.92  13.730000
mod_cook         50.0  25.000000  22.98  11.490000
popular_comp     80.0  40.000000  42.95  21.475000
psychology      193.0  38.600000  67.52  13.504000
trad_cook        80.0  26.666667  47.89  15.963333

In [19]:
Ventas_por_Titulo_DF.groupby(['type']).sum()[['unidades', 'price']]

              unidades  price
type
business          90.0  54.92
mod_cook          50.0  22.98
popular_comp      80.0  42.95
psychology       193.0  67.52
trad_cook         80.0  47.89

In [20]:
from scipy import stats

def aggr_moda(x):
    return(stats.mode(x)[0])

In [26]:
Ventas_por_Titulo_DF.groupby(['type'])['unidades'].agg(aggr_moda)

type
business        15.0
mod_cook        10.0
popular_comp    30.0
psychology      25.0
trad_cook       20.0
Name: unidades, dtype: float64